$color-blue: #00ADB5;
$color-line: #DBE2EF;
$color-line-text: #83939F;
$color-blue50: rgba(0, 173, 181, 0.5);;
$color-white: #EEEEEE;
$color-dark: #222831;
$color-gray: #393E46;
$color-dark50: rgba(34, 40, 49, 0.5);